<h1>Editing Article</h1>

<%= render 'form' %>

<p>
  <strong>Cards:</strong>
  <%= edit_card_instances_tree_for @card_instances %>

<%= link_to 'Add Card at Bottom', new_card_instance_path(article: @article) %> |
</p>


<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
