<%= form_for([@template, @template.template_parameters.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :atom_id %><br>
    <%= f.text_field :atom_id %>
  </div>
  <div class="field">
    <%= f.label :param_type %><br>
    <%= f.text_field :param_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
