<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>
<p>
  <strong>Parameters:</strong>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @template.template_parameters.each do |template_parameter| %>
      <tr>
        <td><%= template_parameter.name %></td>
        <td><%= template_parameter.param_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
