<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @atom.id %>
</p>
<p>
  <strong>Title:</strong>
  <%= @atom.title %>
</p>
<p>
  <strong>Type:</strong>
  <%= @atom.atom_type_id %>
</p>
<p>
  <strong>Content:</strong>
  <%= @atom.content %>
</p>
<p>
  <strong>URL:</strong>
  <%= @atom.url %>
</p>

<%= link_to 'Edit', edit_atom_path(@atom) %> |
<%= link_to 'Back', atoms_path %>
