<p id="notice"><%= notice %></p>

<h1>Listing Card Instances</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Card ID</th>
      <th>Card Name</th>
      <th>Article</th>
      <th>Parent</th>
      <th>Sort Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_instances.each do |card_instance| %>
      <tr>
        <td><%= card_instance.id %></td>
        <td><%= card_instance.card.id %></td>
        <td><%= card_instance.card.name %></td>
        <td><%= card_instance.article_id %></td>
        <td><%= card_instance.parent_id %></td>
        <td><%= card_instance.sort_order %></td>
        <td><%= link_to 'Show', card_instance %></td>
        <td><%= link_to 'Edit', edit_card_instance_path(card_instance) %></td>
        <td><%= link_to 'Destroy', card_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card instance', new_card_instance_path %>
