<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>
<p>
  <strong>Template:</strong>
  <td><%= @templates.find(@card.template_id).name %></td>
</p>
<p>
  <strong>Parameters:</strong>
</p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <% @card_parameters.each do |card_parameter| %>
      <tr>
        <td><%= card_parameter.name %></td>
        <td><%= card_parameter.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
